body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 20px;
  color: white;
  text-align: center;
}
#filterButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

#filterButtons button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#filterButtons button:hover {
  background-color: #aaa;
}

#characterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characterCard {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.characterCard img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
